
.alert {
    height: auto;
    width: auto;
    background-color: red;
    color: white;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    display: none;    

}

.alert--show {
    display: block;
}

