* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  font-size: 18px; 
}

h1 {
  font-size: 36px; 
  color: #3E065F; 
  margin-bottom: 15px;
}

h2 {
  font-size: 30px; 
  color: #3E065F;
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  color: #ffffff; 
  max-width: 600px;
}


.section {
  padding: 40px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home, #projects {
  background-color: #000000; 
}

#about, #contact, #tasks {
  background-color: #1a1a1a; 
}

.gallery {
  display: flex;
  gap: 20px;
}

.gallery img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}